{% extends 'base.html' %}


{% block content %}

    <style>
      button{
            margin-top: 20px;
            align-content: center;
            outline: none !important;

        }
      .asteriskField {
    display: none;                      {#Deleting * from label#}
}
      #id_email{
          width: 40%;
          margin-top: 5px;
      }
    </style>

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Zresetuj swoje hasło</h2>
		<hr>
		<p>Zapomniałeś hasła? Wpisz poniżej swój adres email, a wyślemy na niego instrukcję do zmiany hasła</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Wyślij maila</button>
        </form>
  	</div>

{% endblock %}