{% extends "base.html" %}

{% block content %}
 <style>
  button{
            margin-top: 20px;
            align-content: center;
            outline: none !important;

        }
 </style>

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Zmiana hasła</h2>
		<hr>
        <p>Podaj swoje nowe hasło</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Zmień hasło</button>
        </form>
    </div>

{% endblock %}