{% extends "base.html"%}

{%block content%}
<style>


body  {
background-image: url('https://i.pinimg.com/originals/85/6f/31/856f31d9f475501c7552c97dbe727319.jpg?fbclid=IwAR2UY-mpsqXjtS_OehmiBO3SrX8UUofJMAfjnSDPuBCK-b0uq3jxS-bFNiY');
}

</style>







<div class="center" align="center" style="text-align: center;">
    <h1>




    </h1>

{% load static %}
    <h1> Potrzebujesz pomocy?</h1>
        <div class="container" align="center">
    <img src="{% static 'msagh_website/images/alfaXD.png' %}" alt="Dupa" height="180" width="200">
  </div>
                <h5>Kontakt</h5>
                <br>
                Telegram: <a href="https://t.me/tomal13">tomal13</a>
                <br>E-Mail: <a href="mailto:kontakt@mspotted.pl">kontakt@mspotted.pl</a>
                <a href="https://t.me/tomal13" style="font-size: 2rem; color: green;"></a>
                <a href="mailto:kontakt@mspotted.pl" style="font-size: 2rem; color: black;">
            </div>

{%endblock content%}