{% extends "base.html"%}


{%block content%}
{% load static %}

<main class="form-signin">

  <form>
                              <!-- Wycentorwanie zdjecia w divie-->
    <div align="center"><img src="{% static 'msagh_website/images/agh.jpg' %}" alt="Dupa" height="180" width="200">
    </div>

    <h1 class="h3 mb-3 fw-normal">Zaloguj się</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Adres Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Hasło</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Zapamiętaj mnie
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-dark" type="submit">Zaloguj się</button>
    <p class="mt-5 mb-3 text-muted">&copy; MS_Spotted</p>
  </form>
</main>

{%endblock content%}