{% extends "base.html"%}

{%block content%}

    <style>


        input{

        outline: none !important;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;

    }
                                                                    {#Adding pretty shadow to title and content area#}

       textarea {
        outline: none !important;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
           border:1px solid red;
           outline-color: #000000;
           margin-bottom: 20px;
    }


        .form-group {
margin: auto;

width: 72%;
    text-align: center;
    user-input: center;

padding: 6px;
}
        #id_title{
    display: table;
    margin: 0 auto;
    border: 1px solid black;
}
     #id_content{
    border: 1px solid black;
}


.asteriskField {
    display: none;                      {#Deleting * from label#}
}
        button{
            margin-top: 10px;
            align-content: center;
            outline: none !important;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
        }
    </style>

{% load crispy_forms_tags %}

   <form method="post" class="form-group" >
    {% csrf_token %}
   <div class="form-group col-md-6 mb-0">
        {{ form.title|as_crispy_field }}
      </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.content|as_crispy_field }}
        <button type="submit" class="btn btn-dark">Dodaj Post</button>
      </div>

  </form>

{%endblock content%}