{% extends "base.html"%}
{%block content%}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
  .cosik {
    /*align: right;*/
    /*text-align: right;*/
    position: relative;
      allign : left;
      top : 47px;


}
  {#remove focus around buttons on click#}
  .btn:focus {
  outline: none;
  box-shadow: none;
}

</style>

<h1></h1>
<h1 class="mb-3" align="center">Najnowsze spoty

  <div class="cosik">
<!--  <button type="button" class="btn btn-dark">Dodaj nowy spot</button>-->
    <a href="{% url 'msagh_website:new_spot' %}" class="btn btn-dark" role="button">Dodaj nowy spot</a>
</div>
</h1>


<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<div class="container"  bgcolor=”#802003" align="center" >
      <div>

        <div class="col-lg-9 mb-3" >
          <div class="row text-left mb-5">
            <div class="col-lg-6 mb-3 mb-sm-0">
            </div>
          </div>

    {% for number, post, like in numbers_posts %}
        {% if post.admin_aproved %}
    <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-3 border-right-3 border-bottom-3 rounded-10 width-4" align="left" border-="red" >
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                  <div>
                   <a href="{% url 'msagh_website:one_spot' post.pk %}">{{ post.title }}</a>
                  </div>
                </h5>
                <p class="text-sm"><span class="op-6">Dodane</span> {{ post.pub_date }}</a> przez {{ post.user }}</a></p>
                <h8>{{ post.content }}</h8>

              </div>
              <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                  <div class="col px-1"> <i style="font-size:24px" class="fa">&#xf0e6;</i> <span class="d-block text-sm"> {{ number }} komentarzy</span> </div>

                <form method="POST">
                {% csrf_token %}

            <input type="hidden" name="like_form", value={{ post.pk }}>
            <button type="submit" class="btn btn-small"  ><i style="font-size: 24px; margin-right: -10px" class="fa fa-plus"></i></button>
                    +{{ like }}
        </form>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
    {% endfor %}
          <!-- /End of post 2 -->
          <!-- End of post 3 -->




    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
      <li class="page-item ">
      <a class="page-link" href="?page={{ posts.previous_page_number }}">Poprzedni</a>
          {% if posts.number > 2 %}
       <li class="page-item disabled"><a class="page-link" href="?page={{ posts.number }}"> ... </a></li>
          {% endif %}
    <li class="page-item "><a class="page-link" href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}</a></li>
      </li>
        {% else %}
        <li class="page-item disabled ">
      <a class="page-link" href="">Poprzedni</a>
        </li>
    {% endif %}


    <li class="page-item active ">
        <a class="page-link" href="?page={{ posts.number }}">{{ posts.number }}<span class="sr-only"></span></a>
    </li>



    {% if posts.has_next %}
      <li class="page-item ">
      <li class="page-item "><a class="page-link" href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}</a></li>
      {% if posts.next_page_number != last_page %}
    <li class="page-item disabled"><a class="page-link" href="?page={{ posts.number }}">  ... </a></li>
          {% endif %}
      <a class="page-link" href="?page={{ posts.next_page_number }}">Kolejny</a>
      </li>
        {% else %}
        <li class="page-item disabled ">
      <a class="page-link" href="">Kolejny</a>
        </li>
    {% endif %}


</nav>




{%endblock content%}
