
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BASE PAGE HTML</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% load static %}

  <style>
     body  {
background-image: url({% static 'msagh_website/images/background_image.jpg' %});
}


      h8{
            color: #000000;
            font-size:18px;
    }
      .allspots {

  /* Center vertically */
  position: relative;
        text-align: center;
}

        </style>
</head>
<body>

<!-- NAVBAR -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'msagh_website:base' %}">Strona główna</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'msagh_website:spotted' %}">Spotted</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'msagh_website:memes' %}">Sekcja memów</a>
        </li>
                <li class="nav-item">
          <a class="nav-link active" href="{% url 'msagh_website:contact' %}">Kontakt</a>
        </li>

        </li>

      </ul>

        {% if user.is_authenticated %}
        <a href="{% url 'members:logout' %}" class="btn btn-dark" role="button">Wyloguj</a>
            {% else %}
            <a href="/login/" class="btn btn-dark" role="button">Zaloguj sie</a>

        {% endif %}

    </div>

  </div>
</nav>
{% include 'includes/messages.html' %}
{%block content%}


<main class="container">

    <div style="margin: 20px"  align="center" >
    <img  src="{% static 'msagh_website/images/alfaXD.png' %}" alt="Dupa" height="180" width="200">
    </div>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0"><i style="font-size:24px" class="fa">&#xf1ea;</i> Ostatnie spoty</h6>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <p class="pb-3 mb-0  lh-sm ">
        {% if first_post.user != None %}
          <strong class="d-block text-gray-dark">{{first_post.user}}</strong>
        {% else %}
          <strong class="d-block text-gray-dark"> Użytkownik usunięty </strong>
        {% endif %}
    <a href="{% url 'msagh_website:one_spot' first_post.pk %}">{{ first_post.title}}</a>
      </p>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>

      <p class="pb-3 mb-0  lh-sm ">
        {% if second_post.user != None %}
          <strong class="d-block text-gray-dark">{{second_post.user}}</strong>
        {% else %}
          <strong class="d-block text-gray-dark"> Użytkownik usunięty </strong>
        {% endif %}
        <a href="{% url 'msagh_website:one_spot' second_post.pk %}">{{ second_post.title}}</a>
      </p>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

      <p class="pb-3 mb-0  lh-sm ">
        {% if third_post.user != None %}
          <strong class="d-block text-gray-dark">{{third_post.user}}</strong>
        {% else %}
          <strong class="d-block text-gray-dark"> Użytkownik usunięty </strong>
        {% endif %}
        <a href="{% url 'msagh_website:one_spot' third_post.pk %}">{{ third_post.title}}</a>

      </p>
    </div>
    <small class="center">
      <div class = "allspots">
              <a href="{% url 'msagh_website:spotted' %}">Wszystkie Spoty</a>
      </div>
    </small>
  </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0"><i class="fa fa-graduation-cap" style="font-size:27px"></i> Administracja poleca</h6>

      <div class="d-flex text-muted pt-3">
<p><i class="fas fa-infinity fa-spin" style="font-size:27px; color: black; margin-right: 5px"></i></p>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Algebra liniowa</strong>
        </div>
        <a href="https://home.agh.edu.pl/~gora/">Rewelacyjne materiały do Algebry liniowej (i nie tylko)</a>
      </div>
    </div>
    <div class="d-flex text-muted pt-3">
<p><i class="fas fa-infinity fa-spin" style="font-size:27px; color: black; margin-right: 5px"></i></p>
        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">

          <strong class="text-gray-dark">Teoria macierzy Jordana</strong>
        </div>
        <a href="https://www.youtube.com/watch?v=iGQg3iAxbT4&ab_channel=MateuszKowalski">Rozwiązania kilku przykładów</a>
      </div>
    </div>
    <div class="d-flex text-muted pt-3">
<p><i class="fas fa-infinity fa-spin" style="font-size:27px; color: black; margin-right: 5px"></i></p>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Metody numeryczne</strong>
        </div>
        <a href="https://github.com/KAIR-ISZ/public_lectures/tree/master/Metody%20Numeryczne%202021">Teoria do zagadnień metod numerycznych</a>

      </div>
    </div>
    <small class="d-block text-end mt-3">
    </small>
  </div>
</main>


    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

      <script src="offcanvas.js"></script>
{%endblock content%}


</body>
</html>