{% extends "base.html" %}
{#    TODO: MAKE MESSAGE AFTER CHANGE PASSWORD AND MAKE FRONTEND PRETTY#}


{% block content %}
<style>

.asteriskField {
    display: none;                      {#Deleting * from label#}
}
</style>

</div>

{% load crispy_forms_tags %}

    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
                {% csrf_token %}



            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">

                            {{ profile_form.name|as_crispy_field }}

                            {{ profile_form.surname|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <a href="http://127.0.0.1:8000/password_change/">Zmień hasło</a>
                        <hr>
                {{ profile_form.phone|as_crispy_field }}

                 {{ profile_form.bio|as_crispy_field }}

                 {{ profile_form.github_url|as_crispy_field }}

                 {{ profile_form.contact_url|as_crispy_field }}




                </div>


                </div>
                     {{ profile_form.country|as_crispy_field }}
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>

{% endblock content %}