{% extends "base.html"%}

{%block content%}
<style>
.form-group {
margin: auto;
width: 60%;

padding: 8px;
}
button{
    /*Change the width as much as you like, but make sure
    margin-left and margin-right + width = 100%*/
    width:25%;
    margin-left:21%;
    margin-right:79%;
}

</style>

<body>
{% load crispy_forms_tags %}
<form method="post" class = 'form-group'>
     {% csrf_token %}
    {{form | crispy}}
    <button type="submit" class="btn btn-primary btn-lg">Zarejestruj się</button>
</form>
</body>
</html>
{%endblock content%}