{% extends "base.html"%}

{%block content%}
<style>

body  {
  background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}



.form-group {
margin: auto;
width: 60%;
    text-align: center;
    user-input: center;

padding: 8px;
}
#id_username{
               display: table;
    margin: 0 auto;
    border: 1px solid black;
}


#id_email{
           display: table;
    margin: 0 auto;
    border: 1px solid black;
}
#id_password1{
       display: table;
    margin: 0 auto;
    border: 1px solid black;
}
#id_password2{
       display: table;
    margin: 0 auto;
    border: 1px solid black;
}
.form-text text-muted{
    color: white;
    background-color: white;
}
button{
    /*Change the width as much as you like, but make sure
    margin-left and margin-right + width = 100%*/
       display: table;
    margin: 0 auto;
    border: 1px solid black;
}

</style>

<body>
{% load crispy_forms_tags %}
<form method="post" class = 'form-group'>
     {% csrf_token %}
    {{form | crispy}}
    <button type="submit" class="btn btn-primary btn-lg">Zarejestruj się</button>
</form>
</body>
</html>
{%endblock content%}