{% extends "base.html"%}

{%block content%}

<style>




.form-group {
margin: auto;
width: 60%;
    text-align: center;
    user-input: center;
padding: 8px;


}

.requiredField{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

#id_username{
    display: table;
    margin: 0 auto;
    border: 1px solid black;
}

#id_password{
    display: table;
    margin: 0 auto;
    border: 1px solid black;
}

button{
    /*Change the width as much as you like, but make sure
    margin-left and margin-right + width = 100%*/
       display: table;
    margin: 0 auto;
    border: 1px solid black;
}

</style>




<body>

{#Prevent logged user to go to login page#}

{% if user.is_authenticated %}
     <meta http-equiv="refresh" content="0;URL='http://127.0.0.1:8000/'" />
{% endif %}

{% load crispy_forms_tags %}
<form method="post" class="form-group">
  {% csrf_token %}
  <div class="form-group col-md-6 mb-0">
        {{ form.username|as_crispy_field }}
      </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.password|as_crispy_field }}
      </div>
    <span style=" color: black; font-weight: bold; ">
    <p>Register <a href="/members">here</a></p>
        </span>
  <button type="submit" class="btn btn-success">Login</button>

</form>

</body>
</html>
{%endblock content%}