{% extends "base.html"%}

{%block content%}


<body>

<style>
.from-group {
  max-width: 400px;
    text-align: center;
}
</style>

{% load crispy_forms_tags %}
<form method="post" class="from-group">
  {% csrf_token %}
  <div class="form-group col-md-6 mb-0">
        {{ form.username|as_crispy_field }}
      </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.password|as_crispy_field }}
      </div>
    <p>Register here <a href="/members">here</a></p>
  <button type="submit" class="btn btn-success">Login</button>

</form>

</body>
</html>
{%endblock content%}